{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container ">

    <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'app/images/baraatimages/edu.png' %}" style="padding-right: 20;" alt="ProfilePic"
            class="img-fluid rounded-circle mt-5" width="100px" height="px">
            <svg class="gb_lb" enable-background="new 0 0 24 24" focusable="false" height="26" viewBox="0 0 24 24" width="18" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M20 5h-3.17L15 3H9L7.17 5H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 14H4V7h16v12zM12 9c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"></path></svg>
        </div>
    </div>

    <div class="row">
        <h3>Welcome {{request.user}}</h3>
        {{ request.user.code }}
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li>
                    <li class="d-grid"><a href="{% url 'address' %}" class="btn ">Address</a></li>
                    <li class="d-grid"><a href="{% url 'accdetail' %}" class="btn ">Account Details</a></li> 
                    <li class="d-grid"><a href="{% url 'dashbord' %}" class="btn">Dashboard</a></li>
                    <li class="d-grid"><a href="{% url 'listing' %}" class="btn {{active}}">List</a></li>                 
                
                </ul>
            </div>
            
            <div class="col-sm-9 offset-sm-1">
                <div class="row">
                    <fieldset class="form-group">{{user.profile.email}}
                        <legend class="border-bottom  mb-4">Profile Info</legend>
                           User-Id - {{user.pk}}
                           {% for ad in add %}
                                <p>City: {{ad.city}}</p>
                           {% endfor %}

                           Bio -
                          {% if my_recs %}
                          <h1>My recomdation</h1>
                          <ul>
                          {% for p in my_recs  %}
                            <li><a href="{% url 'detail' p.id %}">{{p.user}} </a>--&nbsp;&nbsp;&nbsp;&nbsp; {{p.user.email}} --&nbsp;&nbsp;&nbsp;&nbsp; {{p.user.profile.city}}</li>
                          {% endfor %}
                          
                          
                          </ul>
                        {% else %}
                            <h1>you didn't recomended any one yet.....</h1>
                        {% endif %}
                        {% for prof in obj %}
            
                        <div class="card" style="width: 18rem;">
                          {{prof.bio}}
                          {{prof.code}}-- {{request.Code}}
                        {% endfor %}  
                        </div>
                    </fieldset>

                </div>    
            </div>    
             
    </div>
</div>
{% for i in py  %}
here
    {{i.charge}}
{% endfor %}

{% endblock main-content %}