{% extends 'app/base.html' %}

{% block main-content %}
<link rel="stylesheet" href="static/app/css/style.css">

<div class="container col-sm-6 my-5">

                              <h1>No code matched.....!</h1><br><br>
               <center><div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title"> No code matched.....!- {{i.code}}</h5>
                            <p class="card-text">The given refral code is not valid. Please try with valid Refral code , or go to <a href=''>Don't have Code</a></p>
                            <a href="withoutcode" class="btn btn-primary">Don't have code</a>
                          </div>
                    </div>
                  </center>

            
            
    
{% endblock main-content %}






























