{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block main-content %}







<div class="mx-3">
 <h2>topwears</h2>
 <!-- Slider 2 -->
 <div class="owl-carousel" id="slider2">
      <div class="col-sm-4 my-1">
     <div class="card" >
      <div class="card-body">
       <h3>Address {{forloop.counter}}</h3>
        <p>Image: <img  src="{{ad.class_pic1.url}}" class="d-block w-100" style="height": 70%; width: 55%;></p>
        <a href={% url 'school_home' ad.pk %}><center>School_name : <h5><p>{{ad.School_name}}</p></h5></center><a>
        <p>City: {{ad.city}}</p>
        <p>{{ad.school_admin}}</p>
        <br>

      </div>
     </div>
    </div>
{% endfor %}
 {% comment %} </div>
</div> {% endcomment %}
 <!-- End 3rd Product Slider -->
{% endblock main-content %}